<footer class="footer">
    <div class="w-100 clearfix">
                    <span class="text-center text-sm-left d-md-inline-block">Copyright © 2022 Charada. Todos los
                        derechos reservados.</span>
        <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">Creado <i
                class="fa fa-user text-danger"></i> por <a href="http://abcsoftware.app.netlify/"
                                                           class="text-dark"
                                                           target="_blank">abcsoftware</a></span>
    </div>
</footer>